## Run on trusty environment as solr dies all the time on containers after travis move to gce
dist: trusty
sudo: required

language: php

cache:
    directories:
        - $HOME/.composer/cache/files

matrix:
    fast_finish: true
    include:
        - php: 7.2
          env: TEST_CONFIG="phpunit.xml"
        - php: 7.3
          env: TEST_CONFIG="phpunit.xml"
        - php: 7.4
          env: TEST_CONFIG="phpunit.xml"
        - php: 7.2
          env: TEST_CONFIG="phpunit-integration-legacy.xml"
        - php: 7.3
          env: TEST_CONFIG="phpunit-integration-legacy.xml"
        - php: 7.4
          env: TEST_CONFIG="phpunit-integration-legacy.xml"
        - php: 7.2
          env: TEST_CONFIG="phpunit-integration-solr.xml" SOLR_VERSION="8.11.2" CORES_SETUP="dedicated"
        - php: 7.2
          env: TEST_CONFIG="vendor/ezsystems/ezpublish-kernel/phpunit-integration-legacy-solr.xml" SOLR_VERSION="8.11.2" CORES_SETUP="shared" REGRESSION="yes"
        - php: 7.3
          env: TEST_CONFIG="phpunit-integration-solr.xml" SOLR_VERSION="8.11.2" CORES_SETUP="dedicated"
        - php: 7.3
          env: TEST_CONFIG="vendor/ezsystems/ezpublish-kernel/phpunit-integration-legacy-solr.xml" SOLR_VERSION="8.11.2" CORES_SETUP="shared" REGRESSION="yes"
        - php: 7.4
          env: TEST_CONFIG="phpunit-integration-solr.xml" SOLR_VERSION="8.11.2" CORES_SETUP="dedicated"
        - php: 7.4
          env: TEST_CONFIG="vendor/ezsystems/ezpublish-kernel/phpunit-integration-legacy-solr.xml" SOLR_VERSION="8.11.2" CORES_SETUP="shared" REGRESSION="yes"

branches:
    only:
        - master
        - /^\d.\d+$/

before_script:
    - phpenv config-rm xdebug.ini
    - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
    - if [ "$COMPOSER_REQUIRE" != "" ]; then
          composer require --no-update $COMPOSER_REQUIRE;
      fi
    - travis_retry composer update --prefer-dist --no-interaction
    - if [[ $TEST_CONFIG = *"solr"* ]]; then
          ./bin/.travis/init_solr.sh;
      fi
    - if [ "$REGRESSION" = "yes" ]; then
          sed -i.bak s/EzSystems\\\\EzPlatformSolrSearchEngine\\\\Tests\\\\SetupFactory\\\\LegacySetupFactory/Netgen\\\\EzPlatformSearchExtra\\\\Tests\\\\Integration\\\\SetupFactory\\\\Solr/g $TEST_CONFIG;
          sed -i.bak "s/eZ\/Publish\/API\/Repository\/Tests\/SearchServiceTest.php/..\/..\/..\/tests\/lib\/Kernel\/SearchServiceTest.php/g" $TEST_CONFIG;
          sed -i.bak "s/eZ\/Publish\/API\/Repository\/Tests\/SearchServiceLocationTest.php/..\/..\/..\/tests\/lib\/Kernel\/SearchServiceLocationTest.php/g" $TEST_CONFIG;
      fi

script:
    - php vendor/bin/phpunit --bootstrap tests/bootstrap.php -c $TEST_CONFIG

notifications:
    email: false
